body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8187dc;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-right: 3em;
}

.page-header a {
    display: block;
    padding: 0.5em;
    padding-right: 1em;
    text-decoration: none;
}

.page-header h4 {
    padding-left: 2em;
    font-size: 2em;
}