body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color: #1c2541;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #415a79;
    margin-bottom: 20px;
}
.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-right: 3em;
}

.page-header a {
    display: block;
    padding: 0.5em;
    padding-right: 1em;
    text-decoration: none;
    color: #50b8a8;
}

.page-header a:hover {
    color: #6fffe9;
}

.page-header h4 {
    padding-left: 2em;
    font-size: 2em;
    color: white;
}

.items {
    width: 97%;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.items img {
  width: 100%;
  height: auto;
}

.item {
  padding: 15px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #344861;
  box-shadow: 0 10px 20px 0 #13192b, 0 6px 20px 0 black;
}

.item img {
  min-height: 100px;
}

.item p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(214, 214, 214);
}

.item button {
    align-self: center;
    border: none;
    border-width: 0.5px;
    padding: 5px;
    background-color: #4a678a;
    box-shadow: 1.5px 1.5px 2px #1c2541;
    color: white;
    cursor: pointer;
}

.item button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 5px 1px #1c2541;
}

footer {
  height: auto;
  width: 100%;
  color: rgb(214, 214, 214);
  background-color: #3a506b56;
  box-shadow: 0 0 8px 8px #1c2541 inset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.remove {
  margin-left: 20px;
}

li > button {
  box-shadow: 0 4px 8px 0 #181f35, 0 6px 20px 0 #181f35;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
}

li > button:active {
  transform: scale(0.95);
}

li > input {
  box-shadow: 0 4px 8px 0 #181f35, 0 6px 20px 0 #181f35;
  border-radius: 5px;
  width: 100px;
}

#cart-qty {
  margin-top: 40px;
  margin-left: 30px;
}

#item-list {
  text-align: center;
  list-style: none;
}

#cart-total {
  margin-left: 30px;
  margin-bottom: 20px;
}


